init_config:
# Any global configurable parameters should be added here
#   default_timeout: 5

instances:
#   A typical instance configuration might include a hostname and port
#   a set of customizable tags and other parameters we might need to
#   configure the behavior of our check.
#    -   neo4j_url: http://myserver.com
#       port: 7474
#       user: neo4j
#       password: password
#       connect_timeout: 20
#       server_name: neo4j_advanti_aws
