init_config:
    default_timeout: 5

instances:
    -   url: http://ec2-54-84-9-93.compute-1.amazonaws.com:7474/
        port: 7474
        server: http://ec2-54-84-9-93.compute-1.amazonaws.com
        user: neo4j
        password: password
        connect_timeout: 20
        server_name: neo4j_advanti_aws

