init_config:

instances:
  #   The URL where Logstash provides its monitoring API. This will be used to fetch various runtime metrics about Logstash.
  #
  - url: http://localhost:9600
    # ssl_verify: false
    # ssl_cert: /path/to/cert.pem
    # ssl_key: /path/to/cert.key
    # tags:
    #   - 'tag1:key1'
    #   - 'tag2:key2'
