init_config:

instances:
  # The absolute path to the registry file used by filebeat
  # See https://www.elastic.co/guide/en/beats/filebeat/current/migration-registry-file.html
  - registry_file_path: /var/lib/filebeat/registry
  # If filebeat has been started with the `--httpprof [HOST]:PORT` option, then
  # the DD agent can gather data about the metrics filebeat exposes to
  # http://<host>:<port>/debug/vars
  # See https://www.elastic.co/guide/en/beats/filebeat/current/command-line-options.html
    http_profiler:
      port: 2828
      # The host can be omitted if it's localhost
      host: localhost
      # If given, this should be a list of regular expressions that stipulates
      # which variables should be reported to Datadog - a filebeat metric
      # reported by the HTTP profiler will only be reported if it matches at
      # least one of those regexes
      only_metrics:
        - ^filebeat
        - ^publish\.events$
      # timeout, in seconds (defaults to 2)
      timeout: 2
