instances:

    ## @param host - string - required
    ## HBase Master host to connect to.
    #
  - host: localhost

    ## @param port - integer - required
    ## HBase Master port to connect to.
    #
    port: 10101

    ## @param user - string - optional
    ## Username from the credentials needed to connect to the host.
    #
    # user: <USERNAME>

    ## @param password - string - optional
    ## Password from the credentials needed to connect to the host.
    #
    # password: <PASSWORD>

    ## @param process_name_regex - string - optional
    ## Instead of specifying a host, and port. The agent can connect using the attach api.
    ## This requires the JDK to be installed and the path to tools.jar to be set below in tools_jar_path parameter.
    #
    # process_name_regex: .*process_name.*

    ## @param tools_jar_path - string - optional
    ## Needs to be set when process_name_regex parameter is set.
    #
    # tools_jar_path: /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar

    ## @param name - string - optional
    ## Set your instance name.
    #
    # name: hbase_master

    ## @param java_bin_path - string - optional
    ## java_bin_path should be set if the agent cannot find your java executable
    #
    # java_bin_path: <JAVA_PATH>

    ## @param java_options - string - optional
    ## List of Java JVM options.
    #
    # java_options: "-Xmx200m -Xms50m"

    ## @param trust_store_path - string - optional
    ## trust_store_path should be set if ssl is enabled.
    ## path to your trusted store
    #
    # trust_store_path: <TRUSTSTORE.JKS_PATH>

    ## @param trust_store_password - string - optional
    ## trust_store_password should be set if ssl is enabled
    ## password for your TrustStore.jks file
    #
    # trust_store_password: <PASSWORD>

    ## @param key_store_path - string - optional
    ## key_store_path should be set if client authentication is enabled on the target JVM.
    ## path to your key store
    #
    # key_store_path: <KEYSTORE.JKS_PATH>

    ## @param key_store_password - string - optional
    ## key_store_password should be set if client authentication is enabled on the target JVM.
    ## password for your KeyStore.jks file
    #
    # key_store_password: <PASSWORD>

    ## @param rmi_registry_ssl - boolean - optional
    ## Whether or not the agent should connect to the rmi registry using ssl.
    #
    # rmi_registry_ssl: false

    ## @param tags - list of key:value element - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

init_config:

  ## @param is_jmx - boolean - required
  ## Whether or not this file is a configuration for a JMX integration
  #
  is_jmx: true

  ## @param collect_default_metrics - boolean - required
  ## Whether or not the check should collect all default metrics for this integration.
  #
  collect_default_metrics: true

  ## @param conf - list of objects - required
  ## List of metrics to be collected by the integration
  ## Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
  ## Agent 5: Customize all your metrics below
  ## Agent 6: The default metrics to be collected are kept in metrics.yaml, but you can still add your own metrics here
  #
  conf:
    - include:
        domain: Hadoop
        bean:
         - Hadoop:service=HBase,name=Master,sub=AssignmentManger
        attribute:
          # The age of the longest region in transition, in milliseconds
          ritOldestAge:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.rit_oldest_age
          # The number of regions that have been in transition longer than a threshold time
          ritCountOverThreshold:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.rit_count_over_threshold
          # The number of regions in transition
          ritCount:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.rit_count
          Assign_min:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.assign.min
          Assign_max:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.assign.max
          Assign_mean:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.assign.mean
          Assign_median:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.assign.median
          Assign_99th_percentile:
            metric_type: gauge
            alias: hbase.master.assignmentmanager.assign.percentile.99

    - include:
        domain: Hadoop
        bean:
         - Hadoop:service=HBase,name=Master,sub=IPC
        attribute:
          # Number of bytes in the call queues.
          queueSize:
            metric_type: gauge
            alias: hbase.master.ipc.queue_size
          # Number of calls in the general call queue.
          numCallsInGeneralQueue:
            metric_type: gauge
            alias: hbase.master.ipc.num_calls_in_general_queue
          # Number of calls in the replication call queue.
          numCallsInReplicationQueue:
            metric_type: gauge
            alias: hbase.master.ipc.num_calls_in_replication_queue
          # Number of calls in the priority call queue.
          numCallsInPriorityQueue:
            metric_type: gauge
            alias: hbase.master.ipc.num_calls_in_priority_queue
          # Number of open connections.
          numOpenConnections:
            metric_type: gauge
            alias: hbase.master.ipc.num_open_connections
          # Number of active rpc handlers.
          numActiveHandler:
            metric_type: gauge
            alias: hbase.master.ipc.num_active_handler
          # total call time, including both queued and processing time.
          TotalCallTime_max:
            metric_type: gauge
            alias: hbase.master.ipc.total_call_time.max
          # total call time, including both queued and processing time.
          TotalCallTime_mean:
            metric_type: gauge
            alias: hbase.master.ipc.total_call_time.mean
          # total call time, including both queued and processing time.
          TotalCallTime_median:
            metric_type: gauge
            alias: hbase.master.ipc.total_call_time.median
          # total call time, including both queued and processing time.
          TotalCallTime_99th_percentile:
            metric_type: gauge
            alias: hbase.master.ipc.total_call_time.percentile.99

    - include:
        domain: Hadoop
        bean:
         - Hadoop:service=HBase,name=Master,sub=Server
        attribute:
          # Is Active Master
          tag.isActiveMaster:
            metric_type: gauge
            alias: hbase.master.server.tag.is_active_master
            values: {true: 1, false: 0, default: 0}
            #must wrap true and false in quotes for Agent 6
            #values: {"true": 1, "false": 0, default: 0}
          # Number of RegionServers
          numRegionServers:
            metric_type: gauge
            alias: hbase.master.server.num_region_servers
          # Number of dead RegionServers
          numDeadRegionServers:
            metric_type: gauge
            alias: hbase.master.server.num_dead_region_servers
