*                       @DataDog/agent-integrations
/*/README.md            @DataDog/documentation
/ambassador/            @datawire
/apollo/                @sachindshinde
/aqua/                  @DataDog/container-integrations
/auth0/                 help@datadoghq.com
/aws_pricing/           @tsein-bc
/bind9/                 @ashuvyas45
/bluematador/           support@bluematador.com
/bonsai/                dev@onemorecloud.com
/buddy/                 support@buddy.works
/cert_manager/          @arapulido
/concourse_ci/          help@datadoghq.com
/contrastsecurity/      @kristianamitchellcontrastsecurity
/convox/                @DataDog/agent-integrations
/eventstore/            @xorima
/filebeat/              @wk8
/gnatsd/                @stephenprater @jaredhoyt
/gnatsd_streaming/      @stephenprater @jaredhoyt
/gremlin/               support@gremlin.com
/hbase_master/          @everpeace
/hbase_regionserver/    @everpeace
/launchdarkly/          support@launchdarkly.com
/lacework/              help@datadoghq.com
/lighthouse/            @ericmustin
/logstash/              @ervansetiawan
/logzio/                @DataDog/agent-integrations
/neo4j/                 @davidfauth
/neutrona/              @DavidFlamini
/nextcloud/             @eplanet
/nomad/                 @irabinovitch
/pihole/                @monganai
/ping/                  @jstanton617
/portworx/              @pault84
/rbltracker/            @DataDog/container-integrations
/reboot_required/       @montdidier
/redis_sentinel/        @krasnoukhov
/resin/                 @brentm5
/riak_repl/             @abtreece
/rigor/                 support@rigor.com
/rookout/               support@rookout.com
/sendmail/              @dabcoder
/sigsci/                @signalsciences
/snmpwalk/              @DataDog/agent-integrations
/sortdb/                @namrata4
/split/                 @jeremy-lq
/squadcast/             it@squadcast.com
/stardog/               @buzztroll
/storm/                 @platinummonkey
/traefik/               @renaudhager
/unbound/               @dbyron0
/upsc/                  @platinummonkey
/uptime/                @jeremy-lq
/vespa/                 @gjoranv
/vns3/                  @DataDog/agent-integrations
