*                       @DataDog/agent-integrations
/*/README.md            @DataDog/baklava
/aerospike/             r.guo@aerospike.com
/ambassador/            hello@datawire.io
/aqua/                  @DataDog/container-integrations
/buddy/                 support@buddy.works
/eventstore/            @xorima
/filebeat/              jean@tripping.com
/gnatsd/                dev@goldstar.com
/gnatsd_streaming/      dev@goldstar.com
/gremlin/               support@gremlin.com
/hbase_master/          @everpeace
/hbase_regionserver/    @everpeace
/launchdarkly/          support@launchdarkly.com
/logstash/              ervansetiawan@gmail.com
/neo4j/                 help@neo4j.com
/portworx/              paul@portworx.com
/reboot_required/       support@krugerheavyindustries.com
/redis_sentinel/        @krasnoukhov
/rigor/                 support@rigor.com
/rookout/               support@rookout.com
/sigsci/                info@signalsciences.com
/sortdb/                namrata.deshpande4@gmail.com
/stardog/               support@stardog.com
