*                       @DataDog/agent-integrations
/*/README.md            @DataDog/baklava
/aerospike/             r.guo@aerospike.com
/ambassador/            hello@datawire.io
/aqua/                  @DataDog/container-integrations
/aws_pricing/           tsein@brightcove.com
/buddy/                 support@buddy.works
/convox/                @DataDog/agent-integrations
/eventstore/            @xorima
/filebeat/              jean@tripping.com
/gnatsd/                dev@goldstar.com
/gnatsd_streaming/      dev@goldstar.com
/gremlin/               support@gremlin.com
/hbase_master/          @everpeace
/hbase_regionserver/    @everpeace
/launchdarkly/          support@launchdarkly.com
/lighthouse/		@ericmustin
/logstash/              ervansetiawan@gmail.com
/logzio/                @DataDog/agent-integrations
/neo4j/                 help@neo4j.com
/nextcloud/             @eplanet
/nomad/                 @irabinovitch
/portworx/              paul@portworx.com
/rbltracker/            @DataDog/container-integrations
/reboot_required/       support@krugerheavyindustries.com
/redis_sentinel/        @krasnoukhov
/riak_repl/		@abtreece
/rigor/                 support@rigor.com
/rookout/               support@rookout.com
/sigsci/                info@signalsciences.com
/snmpwalk/              @DataDog/agent-integrations
/sortdb/                namrata.deshpande4@gmail.com
/split/                 @jeremy-lq
/stardog/               support@stardog.com
/storm/                 @platinummonkey
/traefik/               @renaudhager
/upsc/                  @platinummonkey
/uptime/                @jeremy-lq
/vespa/                 dd@vespa.ai
/vns3/                  @DataDog/agent-integrations
