## Every instance is scheduled independent of the others.
#
instances:

    ## @param host - string - required
    ## Neo4j host to connect to
    #
  - host: localhost

    ## @param port - integer - optional - default: 2004
    ## Port which prometheus is listening on
    #
    # port: 2004

    ## @param https - boolean - optional - default: false
    ## Use https to connect to prometheus
    #
    # https: false

    ## @param neo4j_version - string - required
    ## The Neo4j version to gather metric from. 
    ## Supported versions are 3.5, 4.0, 4.1, 4.2, 4.3
    #
    neo4j_version: '4.3'

    ## @param neo4j_dbs - string - optional
    ## The Neo4j databases to gather metric from. 
    ## This is a Neo4j 4.x feature and it has no effect if neo4j_version is set to 3.5.
    #
    # neo4j_dbs: <DB_1>

    ## @param exclude_labels - string - optional
    ## A list of prometheus labels to exclude. Those labels will just not be added 
    ## as tags when submitting the metric.
    #
    # exclude_labels: <TAG_1>

    ## @param tags - string - optional
    ## A list of tags to attach to every metric and service check emitted by this instance. 
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/getting_started/agent/
    #
    # tags: <KEY_1>:<VALUE_1>

    ## @param min_collection_interval - integer - optional - default: 15
    ## This changes the collection interval of the check.
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    #
    # empty_default_hostname: false
