init_config:

instances:
  # This config is for the Reboot Required Check which is used to report if  
  # the system requires a reboot (usually after important software updates)
  #
  # For the instance there are no required configuration parameter
  #
  # WARNING: Ensure the user account running the Agent (typically dd-agent) has read
  # access to the monitored file and write access to the directory where it wants to
  # put the created_at file.
  #
  - reboot_signal_file: "/var/run/reboot-required"
  # created_at_file: "/var/run/dd-agent/reboot-required.created_at"
  # days_warning: 7
  # days_critical: 14
