init_config:
  # Any global configurable parameters should be added here

instances:
    - stardog_url: http://localhost:5820
      username: admin
      password: admin

      tags:
      - sampletag1
      - sampletag2
