## All options defined here are available to all instances.
#
init_config:

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independent of the others.
#
instances:

    ## @param url - string - required
    ## Provide a URL to the collection program.
    ## APCu does not have a metric output by itself.
    ## Install the file obtained from the following URL
    ## * https://github.com/withgod/integrations-extras/blob/master/php_apcu/tests/php_apcu/src/apcu-dd-handler.php
    #
  - url: http://localhost/apcu-dd-handler.php
