## IBM Sterling Connect Web Services check configuration.
instances:
  - url: https://connect-direct.example.com:port
    username: <USERNAME>
    password: <PASSWORD>
    cd_node: <CD_NODE>
    cd_port: 1363
    cd_protocol: TCPIP
    tls_verify: true
    timeout: 10
    statistics_lookback_minutes: 2
    statistics_timezone: America/Chicago
