init_config:

instances:

    ## @param host - string - required
    ## Gnatsd host to connect to.
    #
  - host: localhost

    ## @param port - integer - required
    ## Gnatsd port to connect to when reaching `host`
    #
    port: 8222

    ## @param server_name - string - required
    ## Name of the Gnatsd server to connect to.
    #
    server_name: gnatsd_aws

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
