instances:
## @param url - string - required
## Base URL to your Aqua instance.
  - url: http://your-aqua-instance.com

    ## @param api_user - string - required
    ## Username and password the agent will use to query the Aqua API.
    #
    # api_user: api_username

    ## @param password - string - required
    # password: api_user_password

    ## @param tags  - list of key:value element - optional
    ## Supply a list of custom tags to send with all metrics for this instance.
    #
    # tags:
    #  - <KEY_1>:<VALUE_1>
    #  - <KEY_2>:<VALUE_2>
