init_config:

instances: 
  ## The lighthouse check can be resource intensive
  ## and can take ~10 seconds per instance, this has only been tested
  ## with a min collection interval of 60 seconds for a few instances

  - min_collection_interval: 60

  ## @param url - string - required
  ## url of the website to get lighthouse metrics of
  ## ex: "https://www.datadoghq.com"
  
    url: <URL_PLACEHOLDER>

  ## @param name - string - required
  ## name of your website.
  ## ex: "datadog_homepage"

    name: <NAME_PLACEHOLDER>

  ## tags - optional
  
    # tags: 
    #   - example_tag
    #   - another_example_tag:an_example_value
