init_config:

instances: 
  # - min_collection_interval: 60
  #   url: "https://docs.datadoghq.com" # required
  #   name: "datadog_docs" # required

    # optional
    # tags: 
    #   - example_tag
    #   - another_example_tag:an_example_value

  # - min_collection_interval: 60
  #   url: "https://stripe.com/fr" # required
  #   name: "stripe_homepage" # required


  # - min_collection_interval: 60
  #   url: "https://www.net-a-porter.com/fr/en/" # required
  #   name: "net_a_porter_homepage" # required

  # - min_collection_interval: 60
  #   url: "https://www.theguardian.com/international" # required
  #   name: "guardian_homepage" # required