init_config:

instances:
  - ups: all
  #   # your own custom tags
  #   tags: ['custom:tag']
  #   # string-based stats results that should be converted to tags on the metrics
  #   string_tags: ['ups.beeper.status']
  #   # specific list of stats to ignore
  #   excluded: ['ups.load']
  #   # regex list of stats to ignore
  #   excluded_re: ['ups.*']
  #   # list of specific excluded devices
  #   excluded_devices: ['badups1']
  #   # regex list of excluded devices
  #   excluded_devices_regex: ['ext.*']
