init_config:

instances:

    ## @param sentinel_host - string - required
    ## Redis Sentinel host to connect to.
    #
  - sentinel_host: localhost

    ## @param sentinel_port - string - required
    ## Port to connect to when reaching `sentinel_host`.
    #
    sentinel_port: 26379

    ## @param sentinel_password - string - optional
    ## Password for authenticating to the Sentinel host
    #
    # sentinel_password: <password>

    ## @param sentinel_ssl - boolean - optional - default: false
    ## Enable SSL connection to the Sentinel host
    #
    # sentinel_ssl: false

    ## @param sentinel_ssl_keyfile - string - optional
    ## Path to SSL key file for Sentinel SSL connection
    #
    # sentinel_ssl_keyfile: <PRIVATE_KEY_PATH>

    
    ## @param sentinel_ssl_certfile - string - optional
    ## Path to SSL cert file for Sentinel SSL connection
    #
    # sentinel_ssl_certfile: <CERT_PATH>

    
    ## @param sentinel_ssl_ca_certs - string - optional
    ## Path to SSL CA cert file for Sentinel SSL connection
    #
    # sentinel_ssl_ca_certs: <CA_CERT_PATH>

    ## @param masters - list of strings - required
    ## List of masters name to collect data from
    #
    masters:
      - <MASTER_NAME_1>
      - <MASTER_NAME_2>

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
