init_config:
  # Default environment to use for all instances
  # environment: production
  #
  # Default Storm API endpoint (typically this is the UI server on the UI port)
  #   ex. if storm ui is running on the localhost on port 9005
  # server: http://localhost:9005
  #
  # Intervals (in seconds): Default is 1 min
  # intervals:
  #   - 60

instances:
  # - server: http://localhost:9005
  #
  #   # Specify the environment
  #   environment: preproduction
  #
  #   #Specify additional tags
  #   tags:
  #     - mytag:myvalue
  #     - mytag2:myvalue2
  #
  #   # specify metric intervals in seconds (note this overrides the defaults).
  #   intervals:
  #     - 60
  #
