init_config:

    ## @param access_token - string - required
    ## The GitHub access token to authenticate to Github APIs
    #
  - access_token: <ACCESS_TOKEN>

instances:

    ## @param repository - string - required
    ## The GitHub Repository name to monitor
    #
  - repository_name: <REPOSITORY_NAME>

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ## Note: server metrics override the host tag and thus do not get the host-level tags specified in datadog.(conf/yaml)
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
