init_config:

instances:
      ## @param url - string - required
      ## Base docker daemon api instance.
      #
    - url : http://127.0.0.1:2375

      ## @param min_collection_interval - int - required
      ## Required for Agent 6 checks
      #
      min_collection_interval: 10