init_config:
   # Any global configurable parameters should be added here
   timeout : 10

instances:
  # The SortDB custom check retrieves metrics from Sortdb's HTTP API.
  # This check must be run from each of the nodes running sortdb instances
  # and the http url  must be specified below. The url consist of sortdb  
  # server's fqdn and port.
  #
  - url: http://localhost:8080/stats
    # Optional instance tags 
    # tags:
    #   - optional_tag1
    #   - optional_tag2
