init_config:

  ## @param timeout - string - optional - default: 10
  ## Timeout to use as a default for all your instances.
  #
  # timeout: 10

instances:

    ## @param url - string - required
    ## The SortDB custom check retrieves metrics from Sortdb's HTTP API.
    ## This check must be run from each of the nodes running Sortdb instances
    ## and the http url  must be specified below. The url consist of Sortdb
    ## server's fqdn and port.
    #
  - url: http://localhost:8080/stats

    ## @param tags - list of key:value element - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
