init_config:

instances:
  ## @param azure - dict - required
  ## Azure authentication parameters.
  #
  - azure:
      directory_id: "my_directory_id"
      application_id: "my_application_id"
      application_key: "my_application_key"
      domain: "my_domain.com"
      subscription_id: "my_subscription_id"