init_config:

instances:
  ## @param azure - dict - required
  ## Azure authentication parameters.
  #
  - azure:

  ## @param directory_id - string - required
  ## Directory id of your Azure account.
  #
      directory_id: "<DIRECTORY_ID>"

  ## @param application_id - string - required
  ## Application id of your Azure account.
  # 
      application_id: "<APPLICATION_ID>"

  ## @param application_key - string - required
  ## Application Key of your Azure account.
  #   
      application_key: "<APPLICATION_KEY>"

  ## @param domain - string - required
  ## The Azure domain for your account.
  # 
      domain: "<AZURE_DOMAIN>"

  ## @param subscription_id - string - required
  ## Subscription id of your Azure account.
  # 
      subscription_id: "<SUBSCRIPTION_ID>"
