init_config:
    # Any global configurable parameters should be added here

instances:
    - status_url: http://localhost:8000
    # tags:
    #   - optional_tag

    # The (optional) connect_timeout will override the default value, and fail
    # the check if the time to establish the (TCP) connection exceeds the
    # connect_timeout value (in seconds)
    # connect_timeout: 5
