init_config:
#    #You can specify paths to your MIB files (default:
#                     $HOME/.snmp/mibs:/usr/share/snmp/mibs:/usr/share/snmp/mibs/iana:
#                     /usr/share/snmp/mibs/ietf:/usr/share/mibs/site:/usr/share/snmp/mibs:
#                     /usr/share/mibs/iana:/usr/share/mibs/ietf:/usr/share/mibs/netsnmp)
#    mibs_folders: /path/to/your/mibs/folders:/more/paths:/another/one

instances:

  # SNMP v1-v2 configuration
  #
   - ip_address: localhost
     port: 161
     community_string: public
  #   snmp_version: 2 # Only required for snmp v1, will default to 2
  #   timeout: 1 # second, by default
  #   retries: 5
  #   tags:
  #     - optional_tag_1
  #     - optional_tag_2
  #
  #   # Specify metrics you want to monitor
  #   metrics:
  #     - MIB: IF-MIB
  #       table: ifTable
  #       symbols:
  #         - ifInOctets
  #         - ifOutOctets
  #       metric_tags:
  #         - tag: interface
  #           column: ifDescr  # specify which column to read the tag value from
  #     - MIB: IP-MIB
  #       table: ipSystemStatsTable
  #       symbols:
  #         - ipSystemStatsInReceives
  #       metric_tags:
  #         - tag: ipversion
  #           index: 1        # specify which index you want to read the tag value from

  # SNMP v3 configuration
  # check http://pysnmp.sourceforge.net/docs/current/security-configuration.html
  #
  # - ip_address: 192.168.34.10
  #   # port: 161 # default value
  #   user: user
  #   authKey: password
  #   privKey: private_key
  #   authProtocol: authProtocol
  #   privProtocol: privProtocol
  #   timeout: 1 # second, by default
  #   retries: 5
  #   tags:
  #     - optional_tag_1
  #     - optional_tag_2
  #   metrics:
  #     - MIB: IF-MIB
  #       table: ifTable
  #       symbols:
  #         - ifInOctets
  #         - ifOutOctets
  #       metric_tags:
  #         - tag: interface
  #           column: ifDescr  # specify which column to read the tag value from
  #     - MIB: IP-MIB
  #       table: ipSystemStatsTable
  #       symbols:
  #         - ipSystemStatsInReceives
  #       metric_tags:
  #         - tag: ipversion
  #           index: 1        # specify which index you want to read the tag value from
