init_config:

instances:
    ## @param zabbix_user - string - required
    ## Username to use Zabbix API.
    #
  - zabbix_user: "<ZABBIX_USERNAME>"

    ## @param zabbix_password - string - required
    ## Password of zabbix_user.
    #
    zabbix_password: ZABBIX_PASSWORD"<>"

    ## @param zabbix_api - string - required
    ## URL for the Zabbix API
    ## Example: http://localhost/zabbix/api_jsonrpc.php
    #
    zabbix_api: "<ZABBIX_API_URL>"

    ## @param hosts - list of strings - optional
    ## List of hostnames for metrics to be collected. If not specified, collect metrics from all hosts.
    #
    # hosts:
    #   - "<HOSTNAME_1>"
    #   - "<HOSTNAME_2>"

    ## @param metrics - list of strings - optional
    ## List of Items that collected by Zabbix. If not specified, collect all Items.
    #
    # metrics:
    #   - "<ITEM_1>"
    #   - "<ITEM_2>"
