init_config:

instances:

    ## @param host - string - required
    ## Traefik host endpoint to connect to.
    #
  - host: <TRAEFIK_HOSTNAME>

    ## @param port - integer - optional - default: 8080
    ## Port to connect to when reaching to `host`.
    #
    # port: 8080

    ## @param path - string - optional - default: /health
    ## Traefik host endpoint path to gather data from.
    #
    # path: "/health"

    ## @param scheme - string - optional - default: http
    ## Traefik host scheme to use when reaching `host`.
    #
    # scheme: "http"
