## All options defined here are available to all instances.
#
init_config:

## Every instance is scheduled independently of the others.
#
instances:

    ## The Universal Controller Metrics endpoint URL.
    #
url: {}

    ## Username for HTTP basic authentication.
    #
username: {}

    ## Password for HTTP basic authentication.
    #
password: {}

#Log section
logs:

    # - type : (mandatory) type of log input source (tcp / udp / file)
    #   port / path : (mandatory) Set port if type is tcp or udp. Set path if type is file
    #   service : (mandatory) name of the service owning the log
    #   source : (mandatory) attribute that defines which integration is sending the log
    #   sourcecategory : (optional) Multiple value attribute. Can be used to refine the source attribute
    #   tags: (optional) add tags to each log collected

  - type: file
    path: /path/to/uc.log
    service: Universal Controller
    source: stonebranch