init_config:
  # Any global configurable parameters should be added here

instances:
  #   A typical instance configuration might include a hostname and port
  #   a set of customizable tags and other parameters we might need to
  #   configure the behavior of our check.
  #
  # - host: localhost
  #   port: 8222
  #   tags: ['custom:tag']
  #   server_name: gnatsd_aws
