## All options defined here are available to all instances.
#
init_config:

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independent of the others.
#
instances:

    ## @param prometheus_url - string - required
    ## Prometheus url and metrics to check
    #
  - prometheus_url: http://localhost:9091/metrics

    ## @param metrics - list of strings - required
    ## List of metrics to fetch
    #
    metrics:
      - felix_active_local_endpoints
      - felix_active_local_policies
      - felix_active_local_selectors
      - felix_active_local_tags
      - felix_cluster_num_host_endpoints
      - felix_cluster_num_hosts
      - felix_cluster_num_workload_endpoints
      - felix_ipset_calls
      - felix_ipset_errors
      - felix_ipsets_calico
      - felix_ipsets_total
      - felix_iptables_chains
      - felix_iptables_rules
      - felix_iptables_restore_calls
      - felix_iptables_restore_errors
      - felix_iptables_save_calls
      - felix_iptables_save_errors

    ## @param namespace - string - required
    ## Namespace that will prefix every metric name.
    #
    namespace: calico

    ## @param tags - mapping - optional
    ## Tags that will be given to every metric.
    #
    # tags:
    #   integration: calico
