init_config:

instances:
  # The URL where nextcloud accepts HTTP requests. This will be used to
  # fetch statistics.
  #
  - url: http://localhost/ocs/v2.php/apps/serverinfo/api/v1/info?format=json

    # User name and password, that must have admin access to Nextcloud in 
    # order to reach the monitoring metrics endpoint
    username: username
    password: password
