## All options defined here are available to all instances.
#
init_config:

## Every instance is scheduled independently of the others.
#
instances:

    ## The Universal Controller Metrics endpoint URL.
    #
url: {}

    ## Username for HTTP basic authentication.
    #
username: {}

    ## Password for HTTP basic authentication.
    #
password: {}
