init_config:

instances:

    ## @param registry_file_path - string - required
    ## The absolute path to the registry file used by Filebeat
    ## See https://www.elastic.co/guide/en/beats/filebeat/current/migration-registry-file.html
    #
  - registry_file_path: /var/lib/filebeat/registry

    ## @param stats_endpoint - string - required
    ## If Filebeat has been started with the `--httpprof [HOST]:PORT` option, then
    ## the DD agent can gather data about the metrics Filebeat exposes to
    ##  http://<HOST>:<PORT>/debug/vars
    ##
    ## See https://www.elastic.co/guide/en/beats/filebeat/current/command-line-options.html
    ## For autodiscovery, use http://%%host%%:%%port%%/stats
    #
    stats_endpoint: http://localhost:2828/stats

    ## @param only_metrics - list of strings - required
    ## This should be a list of regular expressions that stipulates
    ## which variables should be reported to Datadog - a Filebeat metric
    ## reported by the HTTP profiler will only be reported if it matches at
    ## least one of those regexes.
    #
    only_metrics:
      - ^filebeat
      - ^publish\.events$

    ## @param timeout - integer - optional - default: 2
    ## timeout in seconds for the connection to registry_file_path?
    #
    # timeout: 2
