init_config:

instances:
    ## @param AmazonEC2 - string - optional
    ## Rate codes to monitor for AmazonEC2 service.
    #
  - AmazonEC2: rate_code_1,rate_code_2,rate_code_3
    # - AmazonCloudFront: rate_code_1,rate_code_2,rate_code_3
    # - ...
