init_config:

instances:
  -

    ## @param region_name - string - optional - default: us-east-1
    ## AWS region to run PricingService requests in.
    ## As of writing, only us-east-1 and ap-south-1 are supported.
    ## See https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/using-pelong.html
    #
    # - region_name: us-east-1

    ## Below is an example of how you would configure monitoring for AmazonEC2 pricing.
    ## This same format can be used for any other AWS service.

    ## @param AmazonEC2 - list - optional
    ## Rate codes to monitor for AmazonEC2 service.
    #
    # - AmazonEC2:
    #   - <RATE_CODE_1>
    #   - <RATE_CODE_2>
    #   - <RATE_CODE_3>
